simulacion/flows/publisher/flows.json
[{"id":"dd91ac32.4766b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"91e0736d.74b378","type":"ui_slider","z":"dd91ac32.4766b8","name":"","label":"Temperatura","group":"50ef88e4.cc5e6","order":1,"width":"0","height":"0","passthru":true,"outs":"all","topic":"","min":0,"max":"40","step":1,"x":327,"y":104.99999237060547,"wires":[["a02184c1.2ba268"]]},{"id":"e7687c54.6987e","type":"ui_switch","z":"dd91ac32.4766b8","name":"","label":"Pulsador1","group":"fcea173f.99285","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":256,"wires":[["e163bcd2.08a5b"]]},{"id":"d3b3b203.41ada8","type":"ui_switch","z":"dd91ac32.4766b8","name":"","label":"Pulsador2","group":"3e351086.ae5d","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":324,"y":186,"wires":[["45ce62f6.2a8004"]]},{"id":"9530c71e.995bf","type":"ui_template","z":"dd91ac32.4766b8","group":"762df882.85ac18","name":"","order":1,"width":"0","height":"0","format":"<div style=\"text-align:center\">\n    <h1>\n        Simulación Placa Arduino\n    </h1>\n    <h4>\n        Cátedra:\n    </h4>\n    <span>\n        <strong>\n            Prof:\n        </strong>\n        Mg. Ing. Ricardo López\n    </span><br />\n    <span>\n        <strong>\n            JTP:\n        </strong>\n        Lic. Cristian Parise\n    </span>\n    <h4>Alumnos:</h4>\n    <span>Maximiliano Águila</span><br />\n    <span>Lucas Krmpotic</span><br />\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":464,"y":44.99999237060547,"wires":[[]]},{"id":"a02184c1.2ba268","type":"mqtt out","z":"dd91ac32.4766b8","name":"","topic":"temperatura","qos":"","retain":"","broker":"67faf1aa.0cfcd","x":600,"y":104.99999237060547,"wires":[]},{"id":"2898917f.a79cc6","type":"mqtt out","z":"dd91ac32.4766b8","name":"","topic":"pulsador2","qos":"2","retain":"","broker":"67faf1aa.0cfcd","x":632,"y":185,"wires":[]},{"id":"34ecfb8.57e0404","type":"mqtt out","z":"dd91ac32.4766b8","name":"","topic":"pulsador1","qos":"2","retain":"","broker":"67faf1aa.0cfcd","x":643,"y":256,"wires":[]},{"id":"45ce62f6.2a8004","type":"function","z":"dd91ac32.4766b8","name":"","func":"var estado = msg.payload;\n\n_payload = {}\n_payload.estado = estado;\n_payload.time = new Date().toLocaleString('es-AR', { timeZone: 'UTC' });\n\nreturn {\n    payload:_payload\n    \n}","outputs":1,"noerr":0,"x":466.3666687011719,"y":185.5333251953125,"wires":[["2898917f.a79cc6"]]},{"id":"e163bcd2.08a5b","type":"function","z":"dd91ac32.4766b8","name":"","func":"var estado = msg.payload;\n\n_payload = {}\n_payload.estado = estado;\n_payload.time = new Date().toLocaleString('es-AR', { timeZone: 'UTC' });\n\nreturn {\n    payload:_payload\n    \n}","outputs":1,"noerr":0,"x":465.6333312988281,"y":256.23333740234375,"wires":[["34ecfb8.57e0404"]]},{"id":"2eb9477f.3d659","type":"mqtt in","z":"dd91ac32.4766b8","name":"","topic":"led1","qos":"0","broker":"67faf1aa.0cfcd","x":429.36671447753906,"y":327.1333312988281,"wires":[["7d2fee31.f854"]]},{"id":"f24314fd.fa3c88","type":"mqtt in","z":"dd91ac32.4766b8","name":"","topic":"led2","qos":"0","broker":"67faf1aa.0cfcd","x":427.36671447753906,"y":452.1333312988281,"wires":[["98f3c948.1831c"]]},{"id":"50d4123c.68d69c","type":"ui_text","z":"dd91ac32.4766b8","group":"cfd5939d.5061b8","order":0,"width":0,"height":0,"name":"","label":"LED 1","format":"{{msg.payload}}","layout":"row-spread","x":704.3665924072266,"y":386.433349609375,"wires":[]},{"id":"649a6d9e.c451cc","type":"ui_text","z":"dd91ac32.4766b8","group":"cfd5939d.5061b8","order":0,"width":0,"height":0,"name":"","label":"LED 2","format":"{{msg.payload}}","layout":"row-spread","x":707.6333160400391,"y":515.2333374023438,"wires":[]},{"id":"98f3c948.1831c","type":"function","z":"dd91ac32.4766b8","name":"","func":"if(msg.payload === \"true\"){\n\nif(context.global.state === false){\n  msg.payload = true;  \n}else{\n  msg.payload = false;\n}\ncontext.global.state = msg.payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":598.6333465576172,"y":453.23333740234375,"wires":[["649a6d9e.c451cc"]]},{"id":"7d2fee31.f854","type":"function","z":"dd91ac32.4766b8","name":"","func":"if(msg.payload === \"true\"){\n\nif(context.global.state === false){\n  msg.payload = true;  \n}else{\n  msg.payload = false;\n}\ncontext.global.state = msg.payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":594.3666229248047,"y":327.5333251953125,"wires":[["50d4123c.68d69c"]]},{"id":"7dc066a1.200a48","type":"inject","z":"dd91ac32.4766b8","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":273.36669921875,"y":389,"wires":[["859a87dd.1ddac"]]},{"id":"480669e5.67b518","type":"inject","z":"dd91ac32.4766b8","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270.433349609375,"y":528.2333374023438,"wires":[["85929001.dfa34"]]},{"id":"859a87dd.1ddac","type":"function","z":"dd91ac32.4766b8","name":"","func":"//push \"Start\" only once after deployed.\ncontext.global.state = false;\nreturn msg;","outputs":1,"noerr":0,"x":435.36668395996094,"y":388.5333251953125,"wires":[["7d2fee31.f854"]]},{"id":"85929001.dfa34","type":"function","z":"dd91ac32.4766b8","name":"","func":"//push \"Start\" only once after deployed.\ncontext.global.state = false;\nreturn msg;","outputs":1,"noerr":0,"x":427.43336486816406,"y":528.2333374023438,"wires":[["98f3c948.1831c"]]},{"id":"50ef88e4.cc5e6","type":"ui_group","z":"","name":"Simulación Temperatura","tab":"5cc4bf9a.a72d28","order":2,"disp":true,"width":"8","collapse":false},{"id":"fcea173f.99285","type":"ui_group","z":"","name":"Pulsador1","tab":"5cc4bf9a.a72d28","order":3,"disp":true,"width":"7","collapse":false},{"id":"3e351086.ae5d","type":"ui_group","z":"","name":"Pulsador2","tab":"5cc4bf9a.a72d28","order":4,"disp":true,"width":"7","collapse":false},{"id":"762df882.85ac18","type":"ui_group","z":"","name":"TP4 - Sistemas Distribuidos 2018 - Comunicación indirecta","tab":"5cc4bf9a.a72d28","order":1,"disp":true,"width":"22","collapse":false},{"id":"67faf1aa.0cfcd","type":"mqtt-broker","z":"","name":"","broker":"172.16.240.10","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cfd5939d.5061b8","type":"ui_group","z":"","name":"Estado Actuadores","tab":"5cc4bf9a.a72d28","order":5,"disp":true,"width":"6","collapse":false},{"id":"5cc4bf9a.a72d28","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]