simulacion/flows/subscriber/flows.json
[{"id":"26360263.b3543e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4aff6e7c.c03838","type":"mqtt in","z":"26360263.b3543e","name":"","topic":"temperatura","qos":"2","broker":"531a1f59.917648","x":321.818115234375,"y":87.27271270751953,"wires":[["46d97037.bf0748"]]},{"id":"2223e4f0.f7e49c","type":"mqtt in","z":"26360263.b3543e","name":"","topic":"pulsador1","qos":"2","broker":"531a1f59.917648","x":261.8181457519531,"y":185.45452880859375,"wires":[["80789317.d83948","9054551a.7490c"]]},{"id":"184e264f.6fed22","type":"mqtt in","z":"26360263.b3543e","name":"","topic":"pulsador2","qos":"2","broker":"531a1f59.917648","x":256.3636169433594,"y":298.1817932128906,"wires":[["ec7af0eb.abef8","b1648fe4.d63608"]]},{"id":"46d97037.bf0748","type":"ui_gauge","z":"26360263.b3543e","name":"","group":"8b8db6d5.de9df","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"C°","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540.9089965820312,"y":87.27271270751953,"wires":[]},{"id":"ec7af0eb.abef8","type":"function","z":"26360263.b3543e","name":"","func":"var pl = JSON.parse(msg.payload);\nreturn {\n    payload:pl.estado === true ? \"ENCENDIDO\" : \"APAGADO\"\n}","outputs":1,"noerr":0,"x":432.93919372558594,"y":270.21209716796875,"wires":[["8348caf8.14afb"]]},{"id":"d0c9d1c4.03d778","type":"ui_text","z":"26360263.b3543e","group":"b0fb4c42.aa91e8","order":0,"width":0,"height":0,"name":"","label":"Sensor 1","format":"{{msg.payload}}","layout":"row-spread","x":592.1514739990234,"y":148.60601806640625,"wires":[]},{"id":"8348caf8.14afb","type":"ui_text","z":"26360263.b3543e","group":"5fef0ed0.3e8ca8","order":0,"width":0,"height":0,"name":"","label":"Sensor 2","format":"{{msg.payload}}","layout":"row-spread","x":604.7574920654297,"y":271.1211853027344,"wires":[]},{"id":"b1648fe4.d63608","type":"function","z":"26360263.b3543e","name":"","func":"var pl = JSON.parse(msg.payload);\n//var time = pl.time.toLocaleString('es-AR', { timeZone: 'UTC-3' });\n//var time = Date.parse(pl.time);\nreturn {\n    payload:pl.time\n}","outputs":1,"noerr":0,"x":432.1514434814453,"y":325.78790283203125,"wires":[["bb9b6f56.591c98"]]},{"id":"bb9b6f56.591c98","type":"ui_toast","z":"26360263.b3543e","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":619.4241790771484,"y":326.0000305175781,"wires":[]},{"id":"80789317.d83948","type":"function","z":"26360263.b3543e","name":"","func":"var pl = JSON.parse(msg.payload);\n//var time = pl.time.toLocaleString('es-AR', { timeZone: 'UTC-3' });\n//var time = Date.parse(pl.time);\nreturn {\n    payload:pl.time\n}","outputs":1,"noerr":0,"x":424.7574920654297,"y":209.30300903320312,"wires":[["1262b1b9.9a45be"]]},{"id":"1262b1b9.9a45be","type":"ui_toast","z":"26360263.b3543e","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":611.1210784912109,"y":209.51519775390625,"wires":[]},{"id":"9054551a.7490c","type":"function","z":"26360263.b3543e","name":"","func":"var pl = JSON.parse(msg.payload);\nreturn {\n    payload:pl.estado === true ? \"ENCENDIDO\" : \"APAGADO\"\n}","outputs":1,"noerr":0,"x":427.48472595214844,"y":148.3939208984375,"wires":[["d0c9d1c4.03d778"]]},{"id":"1f586572.008d6b","type":"ui_template","z":"26360263.b3543e","group":"4c73771e.b41d6","name":"","order":0,"width":0,"height":0,"format":"<div style=\"text-align:center\">\n    <h1>\n        Panel de Control\n    </h1>\n    <h4>\n        Cátedra:\n    </h4>\n    <span>\n        <strong>\n            Prof:\n        </strong>\n        Mg. Ing. Ricardo López\n    </span><br />\n    <span>\n        <strong>\n            JTP:\n        </strong>\n        Lic. Cristian Parise\n    </span>\n    <h4>Alumnos:</h4>\n    <span>Maximiliano Águila</span><br />\n    <span>Lucas Krmpotic</span><br />\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":438.51513671875,"y":33.33332824707031,"wires":[[]]},{"id":"3034440e.6b2704","type":"ui_button","z":"26360263.b3543e","name":"","group":"328cecbb.818874","order":0,"width":0,"height":0,"passthru":false,"label":"Toggle led1","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":298.5149841308594,"y":379.1515197753906,"wires":[["95a64c40.2b4c4"]]},{"id":"cae19bc2.00e2b","type":"ui_button","z":"26360263.b3543e","name":"","group":"3bf0f4fe.02c8ec","order":0,"width":0,"height":0,"passthru":false,"label":"Toggle led2","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":309.42425537109375,"y":441.8787841796875,"wires":[["e9af93fd.678448"]]},{"id":"95a64c40.2b4c4","type":"mqtt out","z":"26360263.b3543e","name":"","topic":"led1","qos":"","retain":"","broker":"531a1f59.917648","x":559.424072265625,"y":378.75762939453125,"wires":[]},{"id":"e9af93fd.678448","type":"mqtt out","z":"26360263.b3543e","name":"","topic":"led2","qos":"","retain":"","broker":"531a1f59.917648","x":554.7575073242188,"y":442.0303039550781,"wires":[]},{"id":"531a1f59.917648","type":"mqtt-broker","z":"","name":"","broker":"172.16.240.10","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8b8db6d5.de9df","type":"ui_group","z":"","name":"Recepción de la temperatura","tab":"ccd92c51.3aa798","order":2,"disp":true,"width":"8","collapse":false},{"id":"b0fb4c42.aa91e8","type":"ui_group","z":"","name":"Recepción estado sensor","tab":"ccd92c51.3aa798","order":3,"disp":true,"width":"7","collapse":false},{"id":"5fef0ed0.3e8ca8","type":"ui_group","z":"","name":"Recepción estado sensor","tab":"ccd92c51.3aa798","order":5,"disp":true,"width":"7","collapse":false},{"id":"4c73771e.b41d6","type":"ui_group","z":"","name":"TP4 - Sistemas Distribuidos 2018 - Comunicación indirecta","tab":"ccd92c51.3aa798","order":1,"disp":true,"width":"22","collapse":false},{"id":"328cecbb.818874","type":"ui_group","z":"","name":"Actuadores","tab":"ccd92c51.3aa798","order":4,"disp":true,"width":"7","collapse":false},{"id":"3bf0f4fe.02c8ec","type":"ui_group","z":"","name":"Group 6","tab":"ccd92c51.3aa798","order":6,"disp":false,"width":"7","collapse":false},{"id":"ccd92c51.3aa798","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]